#container {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(74, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#message {
  color: white;
  font-weight: bold;
  text-align: center;
}

#main-container {
  width: 50%;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: black;
}

#message {
  margin: 10px;
}

@media (max-width: 768px) {
  #main-container {
    width: 95%;
  }
}
